.Table {
  text-align: center;
}
.container tr {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 15px;
background: white;
max-width: 70%;
width: 70%;
border-collapse: collapse;
text-align: left;
}
.container th {
  font-weight: normal;
  color: black;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 20px;
}
.container td {
  color: black;
  padding: 20px 20px;
  transition: .3s linear;
  border-bottom: 1px solid #e2e2e2;
}
.continer tr:hover td {
  color: #6699ff;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
text-decoration: underline;
color: blue;
}
.pagination {
  margin-top: 25px;
}
.pagination span {
cursor: pointer;
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
transition: background-color .3s;
border: 1px solid #ddd;
}

.pagination span.active {
background-color: #0099FF;
color: white;
border: 1px solid #0099FF;
}